@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

:root {
    --primary: #1b1642;
    --background: #fff;
    --secondary: #4a4a4a;
    --TopAndNav:#e6f8f9;
    --tetiary:#1bd3c6;
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: var(--TopAndNav);
    padding: 1rem 2rem 5rem 2rem;
    /* position: relative; */
    
}
button {
    background-color:var(--tetiary); 
    border: none;
    border-radius: 4px;
    color: var(--primary);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
nav{
    display: flex;
    place-content: space-between;
    /* position: fixed; */
}
.button1 {
    background-color: var(--background);
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 18px;
  }
  
.button1:hover {
    background-color: var(--primary);
    color: var(--background);
}
.button2:hover{
    opacity: 0.9;
}
.button3{
 color: var(--primary);
 background-color:var(--background);
 font-weight: normal;
}
.button4{
    color: var(--background);
    background-color:var(--primary);
    font-weight: normal;
}
.stutern h3{
    font-weight: 900;
    color: var(--tetiary);
}
.nav-left, .nav-left-top{
    display: flex;
    place-content: space-between;
}
.nav-left{
    padding: 0 2.5rem;
}
a{
    text-decoration: none;
    color: var(--primary);
}
li{
    list-style: none;
}
.stutern img{
    width: 100%;
}
.stutern{
    padding-top: 1rem;
    width: 10rem;
}
.drop-menu{
    position: relative;
    padding: 0 1rem;
}
.drop-down{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    line-height: 2;
    z-index: 1;
    text-align: left;
}
.drop-menu:hover .drop-down{
    display: block;
}
.rotate{
    transform: rotate(270deg);
    display:inline-flex;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: .2rem;
    padding-right: .2rem;
    color: var(--secondary);
  }
 .text{
      color: var(--secondary);
      opacity: .9;
      /* margin-bottom: 5rem; */
  }
  .skill h1{
      font-weight: bold;
      font-size: 4rem;
      color: var(--primary);
      margin: 1.2rem 3rem .5rem 0;
  }
.home{
    padding: 5rem 5rem 0 5rem;
    display: flex;
    place-content: space-between;
}
.home-img{
    width: 30rem;
    display: block;
    margin-top: 5rem;
}
.employ-img{
    width: 35rem;
}
.text-h2{
    color: var(--primary);
    font-size: 3rem;
}
.timeline h2 span{
    color: var(--tetiary);
}
.talent{
    padding: 5rem 5rem 0 5rem;
}
.talent .text, .talent .text-h2{
    text-align: center;
}
.young-talent{
    display: flex;
    place-content: center;
}
.y-t{
    color: var(--primary);
    text-align: center;
}
.profile{
    padding: 2rem 5rem;
}
.image{
    border-radius: 50%;
    width: 10rem;
}
.profile h3+ h4+ p{
    text-align: center;
    color: var(--primary);
}
.testimony{
    background-color: var(--primary);
    padding: 9rem 0;    
    text-align: center;
    color: var(--background);
}
.testimony h2{
    font-size: 2rem;
}
.testimony h4{
    font-size: .8rem;    
    opacity: .8;
    outline: none;
}
.trusted{
    text-align: center;
    padding: 8vh 0;
    margin: 0 15rem;
}
.trusted .text{
    margin-top: 2rem;
}
.client{
    display: flex;
    place-content: center;
    margin-top: 4rem;
}
.client div{
   width: 17rem;
}
.client img{
    margin: 1rem 0;
}
.talk{
    margin: 15vh;
    padding: 15vh;
    background-color:var(--tetiary);
    border-radius: 8px;
    text-align: center;
}
footer{
    background-color: var(--primary);
    padding: 8rem 5rem;
    display: flex;
    place-content: space-between;
}
footer a, footer li{
    padding-top: 1rem;
    color: var(--background);
}
footer h3{
    color: grey;
}

/* handbugger menu */
.handbugger{
    display: none;
    font-size: 1.5rem;
}
@media only screen and (max-width: 1000px){
    header{
        padding: 0;
        /* position: relative; */
    }  
    nav{
        display: flex;
    }
    .handbugger::before{
        flex-direction: column;
    } 
    .nav-left-top{
        display: block;
        width: 100%;
        background-color: var(--background);
        /* position: absolute; */
    }
    .nav-left{
        display: flex;
        flex-direction: column;
    }
    .stutern{
        padding-top: 1rem;
        width: 10rem;
    }
    .stutern img{
        width: 100%;
    }
    /* .drop-down{
        display: block;
    } */
    .nav-left-top{
        display: none;
    }
    .handbugger{
        font-size: 1.5rem;
        display: block;
        padding-top: .5rem;
    }
    .nav-left-top .handbugger:hover{
        display: block;
    }
    .skill h1{
        font-weight: bolder;
        font-size: 5vw;
    }
    .skill .text{
        margin: 1.5rem 0;
    }
    .home-img{
        width: 100%;
    }
    .home{
        padding: 5rem 2rem 5rem 2rem;
        display: flex;
        place-content: space-between;
    }
    .employ-img{
        width: 20rem;
    }
    .timeline{
        margin-right: 3rem;
    }
    .y-t{
        display: block;
        margin: 2rem;
        padding: 0;
    }
    .talent, .trusted{
        margin: 0 5rem;
    }
    
    .client img{
        width: 100%;
    }
    .client{
        display: flex;
    }
    .talk{
        margin: 5vh;
        padding: 15vh;
    }
    footer{
        display: block;
        padding: 3rem;
    }
    footer a, footer li{
        padding-top: .5rem;
        color: var(--background);
    }
    footer h3{
        color: grey;
        padding-top: 3rem;
    }
}
@media only screen and (max-width: 800px){
    .home-img{
        display: none;
    }
    .home {
        display: block;
    }
    .employ-img{
        padding-top: 3rem;
        /* margin: 0 2rem; */
    }
    .talent{
        padding: 0;
        margin: .2rem;
        font-size: 1rem;
    }
    section.trusted{
        margin: 0 5rem;
        padding: 0;
    }
    .client img{
        width: 100%;
    }
    .client{
        display: flex;
    }
}